$primary:#2876C8;
$primary-light: #68A4FB;
$primary-dark: #004B97;
$primary-variant: #68A4FB;
$secondary: #071F5A;
$secondary-light: #3F4688;
$secondary-dark: #000031;
$secondary-variant: #3F4688;
$background: #FFFFFF;
$surface: #FFFFFF;
$error: #FA8F8B;
$error-light: #FFC1BB;
$error-dark: #C4605E;
$on-primary: #F0F0F0;
$on-secondary: #FFFFFF;
$on-background: #333333;
$on-surface: #666666;
$on-error: #FFFFFF;
